:root {
  --background: #ffffff;
  --foreground: #171717;
    overflow-x: hidden;
  max-width: 100%;
}

[theme="dark"]{
  --background: #171717;
  --foreground:#ffffff ;
}

html, body {
  overflow-x: hidden;
  max-width: 100vw;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--background) inset !important;
  box-shadow: 0 0 0 30px var(--background) inset !important;
  -webkit-text-fill-color: var(--foreground) !important;
}

body{
  background-color: var(--background);
  color: var(--foreground);
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  margin: 0;
  overflow-x: hidden;
  max-width: 100%;
}

.button{
  background-color: transparent;
  color: var(--foreground);
  border: 2px solid var(--foreground);
  border-radius: 12px;
 font-family: inherit;
 font-weight: inherit;
 font-size: inherit;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 36px;
 transition: all 0.3s ease;
}

.button:hover{
  box-shadow: 0px 0px 16px 4px var(--foreground) ;
  cursor: pointer;
}

.theme-image{
  display: inline;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

a{
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}


.direct{
  background-color: transparent;
  border: none;
  color: var(--foreground);
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 4px;
  margin-right: 12px;
  transition: all 0.1s ease-out;
}

.direct:hover{
  cursor: pointer;
  border:1px solid var(--foreground);

}

.main-page-body{
  margin-top: 80px;
  display: flex;
  width: 100vw;
  height: fit-content;
  flex-direction: column;
  align-items: center;
}

.sub-description{
  width: clamp(300px,40%,450px);
  text-align: center;
  font-weight: 400;
}

.sub-description-header{
  font-size: 20px;
  font-weight: bold;
  width: max-content;
}
.sub-description-body{
  width: clamp(200px,90%,400px);
}

.description-container{
  width: fit-content;
  align-self: baseline;
  margin: 0px 40px;
  margin-top: 40px;
}

.description-container-second{
  max-width: 400px;
  align-self: end;
  margin: 0px 40px;
}