.Ibody{
  display: flex;
  height: calc(100vh - 99px);
  width: 100%;
}

.sort{
  background-color: transparent;
  color: var(--foreground);
}

.sort:focus{
  background-color: transparent;
}

.brac{
  width: 2px;
  height: 100%;
  background-color: var(--foreground);
  flex-grow: 0;
}

.invites{
  width: calc(50% - 1px);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inviteCard{
  display: flex;
  width: 98%;
  height: 100px;
  border: 2px solid var(--foreground);
  border-radius: 12px;
  justify-content: space-evenly;
  align-items: center;
}

.invite-grid{
  margin-top: 20px;
  width: 90%;
  height: fit-content;
  max-height: 80%;
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  gap: 12px;
  overflow-y: scroll;
}

@media (max-width:1000px){
  .invite-grid{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width:500px){
  .inviteCard{
    flex-direction: column;
    height: fit-content;
  }
}