.Ibody{
  display: flex;
  height: calc(100vh - 99px);
  width: 100%;
}


.brac{
  width: 2px;
  height: 100%;
  background-color: var(--foreground);
  flex-grow: 0;
}

.invites{
  width: calc(50% - 1px);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inviteCard{
  display: flex;
  width: 98%;
  height: 100px;
  border: 2px solid var(--foreground);
  border-radius: 12px;
  justify-content: space-evenly;
  align-items: center;
}

.invite-grid{
  margin-top: 20px;
  width: 90%;
  height: fit-content;
  max-height: 80%;
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  gap: 12px;
  overflow-y: scroll;
}

.sort-component{
  display: flex;
  align-items: center;
}

.invite-action{
  width: 32px;
  height: 32px;
  border: 2px solid var(--foreground);
  border-radius: 12px;
  background-color: transparent;
  color: var(--foreground);
  margin-right: 12px;
  position: relative;

}

.invite-action:hover{
  cursor: pointer;
}

.invite-accept::after{
  content: 'Accept';
  position: absolute;
  top: 100%;
  left: 0;
  color: transparent;
  transition: all 0.5s ease-out;
}

.invite-accept:hover::after{
  content: 'Accept';
  color: var(--foreground);
}

.invite-reject::after{
  content: 'Reject';
  position: absolute;
  top: 100%;
  left: 0;
  color: transparent;
  transition: all 0.5s ease-out;
}

.invite-reject:hover::after{
  content: 'Reject';
  color: var(--foreground);
}

.invite-cancel::after{
  content: 'Cancel';
  position: absolute;
  top: 100%;
  left: 0;
  color: transparent;
  transition: all 0.5s ease-out;
}

.invite-cancel:hover::after{
  content: 'Cancel';
  color: var(--foreground);
}

.card-info{
  max-width: 100px;
  overflow-x: scroll;
}


@media (max-width:1200px){
  .invite-grid{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width:650px){
  .inviteCard{
    flex-direction: column;
    height: 200px;
  }
  .invite-action{
    margin-bottom: 20px;
  }
}