.body{
  max-width: 1000px;
  height: calc(100vh - 57.6px);
  margin: auto;
  width: 80vw;
  min-width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.build-body{
  padding-left: 20px;
  width: 100%;
  height: calc(80% - 20px);
  border-radius: 8px;
  min-height: 400px;
  border: 2px solid var(--foreground);

}

.build-section{
  display: flex;
  align-items: center;
}
.content{
  height: 100%;
  width: 70%;
}

.search{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-section{
  height: 100%;
  width: 30%;
  padding-top: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.build-header{
  display: flex;
  height: 80%;
}

.submit-project{
  display: flex;
  width:calc(100% - 20px);
  justify-content: center;
  align-items: center;
  height: 20%;
}

.title-area{
  height: 20px;
  font-size: 18px;
  background-color: transparent;
  color: var(--foreground);
  text-decoration: none;
  border: none;
  border-bottom: 2px solid var(--foreground);
}

.title-area:focus{
  outline: none;
}

.title-area:hover{
  cursor: pointer;
}

.title{
  width: 100%;
  height: 30%;
}

.task{
  width: 100%;
  height: 70%;
}

.add-task{
  background-color: transparent;
  color: var(--foreground);
  border: none;
  font-size: 16px;
  margin-top: 10px;
  padding-left: 0;
}
.add-task:hover{
  cursor: pointer;
}

.task-container{
  padding-top: 20px;
  height: calc(100% - 41.2px);
  width: 100%;
  overflow-y: scroll;
}

.t-description{
  width: calc(100% - 4px);
  min-height: 32px;
  max-height: 100px;
  margin-top: 5px;
  background-color: transparent;
  color: var(--foreground);
  resize: none;
  padding: 5px;
  border: none;
}

.t-description:focus{
  outline: none;
}



.task-item{
  display: flex;
  align-items: start;
  margin-bottom: 12px;
}

.t-numerotation{
 margin: 0;
 margin-right: 4px;
 margin-top: 4px;
}

.task-inputs{
  border-radius: 8px;
  border: 2px solid var(--foreground);
  padding: 4px;
}

.task-title{
  background-color: transparent;
  color: var(--foreground);
  border: none;
}

.task-title:focus{
  outline: none;
}
.pop-content{
  width: 100%;
}

.bracket{
  width: calc(100% + 8px);
  height: 2px;
  background-color: var(--foreground);
  margin-top: 4px;
  transform: translateX(-4px);
}

.pop-button{
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  margin-right: 4px;
}
.pop-button:hover{
  cursor: pointer;
}

.task-main{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.d-button{
  background-color: transparent;
  border: none;
  color: var(--foreground);
}

.d-button:hover{
  cursor: pointer;
}

.search-invite{
  height: 40px;
  border-radius: 12px;
  border:2px solid var(--foreground);
  color: var(--foreground);
  background-color: transparent;
  padding-left: 8px;
  width: clamp(150px, 80%, 250px);
}

.search-invite:focus{
  outline: none;
}

.user-invites{
  width: 100%;
  height: calc(100% - 185.2px);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-results{
  max-height: 120px;
  overflow-y: scroll;
  width: clamp(150px, 80%, 250px);
  transform: translateY(-2px);
}

.search-item{
  width: calc(100%-6px);
  height: 40px;
  color: var(--foreground);
  background-color: transparent;
  border: 2px solid var(--foreground);
  border-top: none;
  display: flex;
  padding-left: 12px;
  justify-content: start;
  align-items: center;
}

.search-name{
  margin: 0;
  font-size: 16px;
  margin-right: 12px;
}
.search-id{
  margin: 0;
  font-size: 16px;
}
.divider{
  height: 10px;
  width: 10px;
  flex-grow: 10;
}
.invite-button{
  margin-right: 12px;
  background-color: transparent;
  border: none;
  color: var(--foreground);
  font-size: 20px;
  width: 30px;
  height: 30px;
  padding: 0;
  padding-bottom: 2px;
}

.invite-button:hover{
  cursor: pointer;
}

.invite-item{
  display: flex;
  width: 90%;
  align-items: center;
}

.invite-name{
  margin: 0;
  font-size: 16px;
  margin-right: 12px;
}
.invite-id{
  margin: 0;
  font-size: 16px;
}

@media (max-width: 768px){

  .main{
    height: auto;
  }

  .build-body{
    height: auto;
  }

  .build-header{
    flex-direction: column;
    height: auto;
  }

  .content{
    width: 100%;
  }

  .task-container{
    max-height: 200px;
    overflow-y: scroll;
  }

  .search-section{
    width: 100%;
    padding-top: 0;
    min-height: 200px;
    overflow-y: scroll;
  }

  .submit-project{
    height: auto;
    padding: 12px 0;
  }
}