.page-body{
  height: calc(100vh - 99.2px);
  width: clamp(400px,100vw,1000px);
  background-color: transparent;
  min-height: 400px;
  margin: auto;
  display: flex;
}

.account-section{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.account-box{
  width: fit-content;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.account-title{
  font-weight: bold;
  font-size: clamp(16px,3vw,20px);
}

.settings{
  width: 133px;
}

.last-projects-list{
  height: max-content;
  min-height: 600px;
  width: calc(60% - 8px);
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}



@media  (max-width:800px){
  .page-body{
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .account-box{
    font-size: x-large; 
  }

  .account-title{
  font-size: 28px;
  }

  .settings{
    width: 200px;
  }

  .last-projects-list{
    width: calc(100% - 8px);
  }

  .project{
    width: 90%;
  }
}

@media (max-width:500px){
    .last-projects-list{
    width: 300px;
    margin: auto;
  }

   .lpr{
    margin-top: 20px;
    flex-direction: column;
    min-height: 400px;
  }
}
